.summaryHeader h3 {
  margin: 0;
  margin-left: 1rem;
  padding: 0.5rem;

}

.summaryHeaderPositive {
  background-color: var(--positive);
}

.summaryHeaderNegative {
  background-color: var(--negative);
}

.summaryHeaderProposal {
  background-color: var(--proposal);
}
