.appLanguageSelection {
    margin-right: 2rem;
    margin-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.tabSection {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    margin: 0 1rem 0 1rem;
}