.commentFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 3rem;
}

.commentFooterDivider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  border-left: 1px #000 solid;
  margin-left: 0.3rem;
}

.positive {
  background-color: var(--positive);
}

.negative {
  background-color: var(--negative);
}

.proposal {
  background-color: var(--proposal);
}
