.board {
  display: flex;
  flex-direction: column;
}

.boardTitle {
  align-self: center;
  margin-bottom: 2rem;
}

.boardSections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  padding: 1rem;
  margin: 0 1rem;
}

.boardSection {
  width: 30%;
}
