.board {
  display: flex;
  flex-direction: column;
}

.boardTitle {
  align-self: center;
  margin-bottom: 2rem;
}

.boardSections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
}

.boardSection {
  width: 30%;
}
