.topic {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.inputField {
  font-size: large;
  border: 0px;
  border-bottom: 1px #000 solid;
}

.inputField:focus-visible{
  outline: none;
}

.addButton {
  font-size: large;
  border-radius: 50%;
  cursor: pointer;
}

.addButton span{
  color: black;
}
