.boardTitle {
  font-size: xx-large;
  margin: 1rem;
}

.boardTitleEnabled {
  border: 0px;
  border-bottom: 1px #000 solid;
  margin-right: 1rem;
  outline: none;
}

.boardTitleDisabled {
  border: 0px;
  background-color: white;
  margin-right: 1rem;
}
