.votingButton {
  font-size: large;
}

.votingButton span {
  margin-right: 0.5rem;
}

.votingButton button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: 0px;
}

.votingButton button:hover {
  background-color: rgba(211, 211, 211, 0.7);
}
