.languageSelection {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: medium;
}

.languageSelection option {
  font-size: medium;
}

.languageSelection select {
  font-size: medium;
}

.languageSelectionText {
  margin-right: 0.5rem;
}
